/SoftArchVehicleFleetManager/.vs
/SoftArchVehicleFleetManager/SoftArchVehicleFleetManager/obj
/SoftArchVehicleFleetManager/SoftArchVehicleFleetManager/bin

/SoftArchVehicleFleetManager/SpeedTelemetryModul/obj
/SoftArchVehicleFleetManager/SpeedTelemetryModul/bin
/SoftArchVehicleFleetManager/TelemetrySimulation/obj
