**/.vs/*
**/bin/*
**/obj/*

/SoftArchVehicleFleetManager/SpeedTelemetryModul/obj
/SoftArchVehicleFleetManager/SpeedTelemetryModul/bin
/SoftArchVehicleFleetManager/TelemetrySimulation/obj
*.dll
*.pdb
*.cache
