
input[type="text"],
input[type="number"],
select {
    padding: 12px 16px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f9fafb;
    transition: all 0.2s;
}

input:focus{
    outline: none;
    background-color: white;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);

}

button {
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.95rem;
    border: none;
    transition: background 0.2s;
}

button[type="button"] {
    background-color: white;
    border: 1px solid var(--border-color);
    color: var(--text-main);
}

button[type="button"]:hover {
    background-color: #f3f4f6;
}