<form [formGroup]="form" (ngSubmit)="submit()">
    <h2>{{ module.moduleId ? 'Modul Szerkesztése' : 'Új Modul Rögzítése' }}</h2>

    <div class="form-grid">

        <div class="form-group full-width">
            <label>Modul Neve</label>
            <input formControlName="moduleName" type="text" placeholder="pl. Speed Meter Module">
        </div>

        <div class="form-group">
            <label>Hardware Azonositó</label>
            <input formControlName="hardwareId" type="text" placeholder="pl.SPMD-559">
        </div>
    </div>

    <div class="actions">
        <button type="button" (click)="cancel.emit()">Mégse</button>
        <button type="submit" [disabled]="form.invalid">Mentés</button>
    </div>
</form>